

.coin{
  min-height: 8vh;
  height: auto;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  background: whitesmoke;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.coin .coinLeft{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.coin span{
  color: #000;
  font-weight: bold;
}

.coin #coinBalance{
  font-size: 10px;
}

.coin #coinPrice{
  font-size: 10px;
}

.coin .coinName{
  display: flex;
  flex-direction: column;
}

.coin .coinPrice{
  display: flex;
  flex-direction: column;
  text-align: right;
}

.coin .coinSynbol{
  height: 40px;
  width: 40px;
  border-radius: 50px;
  box-shadow: 1px 1px 3px #000;
}